[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "qutebrowser/base16-qutebrowser"]
	path = qutebrowser/base16-qutebrowser
	url = https://github.com/theova/base16-qutebrowser
[submodule "config/zathura/base16-zathura"]
	path = config/zathura/base16-zathura
	url = https://github.com/HaoZeke/base16-zathura
[submodule "spicetify-themes"]
	path = spicetify-themes
	url = https://github.com/morpheusthewhite/spicetify-themes
